<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<!-- {{ ansible_managed }} -->

<html>
    <head>
        <title>{{ inventory_hostname }} server</title>
    </head>
    <body>
        <h1>Welcome to {{ inventory_hostname }}!</h1>
        <p>This is the default web page for this server.</p>
        <p>This server does stuff.</p>
        <p>If you'd like to have any information about it, please <a href="mailto:master@mapreri.org">drop me an email</a>.</p>
    </body>
</html>
